* {
    background-color: #06101a;
}

/* shere */
.display {
    display: flex;
}

/* Nave Bar */
.navebar-stle {
    border: 1px solid rgb(13, 153, 255);
    box-shadow: 4px 6px 15px rgba(255, 255, 255, 0.8);

}

.navebar {
    margin: 10px 20px;

    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(13, 153, 255);
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.8)
}

.Home {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.02);
    color: wheat;

}

.nav-img-1 {
    width: 219px;
    height: 56px;
}

.navebar1 ul {
    gap: 20px;
}

.navebar1 ul li {
    list-style: none;

}

.navebar1 ul li a {
    text-decoration: none;
}

.button {
    background: rgba(7, 244, 250, 1);
    border-radius: 28px;
    width: 164px;
    height: 56px;

}

/* Banner Style  */
.banner {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.banner-heding {
    width: 600;
    font-size: 90px;
    color: wheat;
}

.banner-p {
    width: 400;
    font-size: 18px;
    color: wheat;
}

.button-1 {
    background: rgba(7, 244, 250, 1);
    width: 275px;
    height: 56px;
    border-radius: 28px;
    font-size: 18px;
}

.banner-img {
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.google {
    margin-left: 50px;
}

.google-m {
    margin-left: 50px;
    padding: 20px;
    /* padding-left: 8px; */
    border: 1px solid rgba(7, 244, 250, 1);
}

.google-n {

    width: 200px;
    height: 70px;
    padding: 20px;
    align-items: center;
    border-left: 4px solid rgba(7, 244, 250, 1);
}

.google-img {
    width: 60px;
    height: 30;
    /* margin-top: 200; */

}

.google-p {
    width: 148px;
    height: 44px;
    margin-top: -30px;
    font-size: 40px;
    color: wheat;
}

.google-maine {
    align-items: center;
    border: 1px solid rgb(13, 153, 255);
    border-radius: 5px;
    box-shadow: 4px 6px 15px rgba(255, 255, 255, 0.8);
    margin-top: 30px;

}



.Trusted {
    font-weight: 600;
    font-size: 36px;
    color: wheat;

}

.Trusted-p {
    font-weight: 400;
    font-size: 20px;
    color: wheat;
}

/* Marketing */
.Unleash-h {
    align-items: center;
    justify-content: space-between;

}

.Unleash {
    font-size: 50px;
    margin-left: 50px;
    color: wheat;

}

.Unleash-p {
    font-size: 18px;
    color: wheat;
    font-weight: 400;
}

.card-conterener {
    align-items: center;
}

.Marketing {
    width: 360px;
    height: 357px;
    border: 2px solid rgba(255, 255, 255, 1);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.8);
    /* border: 4px solid rgba(255, 255, 255, 1); */

    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
    /* background-color: #151e28;; */

}

.hasan {
    gap: 10px;
    margin-bottom: 10px;
}

.Marketing-img {
    width: 110px;
    height: 110px;

}

.Marketing-h {
    color: rgba(255, 255, 255, 1);

}

.Marketing-p {
    color: rgba(255, 255, 255, 1);

}

/* Enjoy 10% Off When You Choose Our Annual Package */
.Enjoy-h {
    margin-top: 50px;
    align-items: center;
    border: 1px solid rgb(13, 153, 255);
    box-shadow: 1px 2px 3px 5px rgba(255, 255, 255, 0.8);
}

.Enjoy-10 {
    padding: 60px;
}

.Enjoy {
    color: wheat;
    font-weight: 600;
    font-size: 3.5rem;
    width: 124;
}

.Enjoy1 {
    color: wheat;
    width: 400px;
    font-size: 1.12rem;
}

.Enjoy-bt {
    color: rgba(6, 16, 26, 1);
    font-size: 1.12rem;
    width: 180px;
    height: 56px;
    background-color: rgb(7, 244, 250);
    border-radius: 30px;
}

.banner-img {}

/* Our Trusted Clients and Partners */
.Trusted {
    color: wheat;
    text-align: center;
}


.Trusted-p {
    color: wheat;
    text-align: center;
}

.mmm {
    gap: 20px;
}

/* Slack */
.Slack-m {
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.Slack-c {
    width: 230px;
    height: 101px;
    border: 1px solid rgb(13, 153, 255);
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
    text-align: center;
}

.Slack {
    color: wheat;
}

/* Recent Projects */
.Recent-m {
    justify-content: space-between;
    align-items: center;
}

.Recent-h {
    color: wheat;
    font-weight: 600;
    font-size: 3.5rem;

}

.Recent-p {
    color: wheat;
    font-weight: 400;
    font-size: 1.12rem;
}

.See {
    color: wheat;

    font-weight: 500;
    font-size: 1.12rem;

}

.See-1 {
    color: rgb(34, 1, 1);
    background-color: rgb(8, 231, 237);
    font-weight: 500;
    font-size: 1.12rem;


}

.See-m {
    border: 1px solid rgb(13, 153, 255);
    width: 811px;
    height: 14px;
    padding: 20px;
    border-radius: 5px;

}

.See-m li {
    justify-content: space-between;
    align-items: center;


}

.See-m li a {
    text-decoration: none;
}

.See {}

.Travel-h {
    width: 490px;
    height: 495px;
    justify-content: space-between;
    gap: 35px;
}

.Travel-h2 {
    color: wheat;
    font-weight: 600;
    font-size: 1.75rem;
}

.Travel-b {
    width: 485px;
    border: 1px solid rgb(8, 231, 237);
    box-shadow: 2px 3px 6px rgba(223, 234, 186, 0.8);
    gap: 10px;
    margin-top: 10px;
}

.Travel-p {
    color: wheat;
    font-weight: 500;
    font-size: 1rem;
}

.Travel {
    width: 420px;
    height: 376px;
}